<!-- wp:template-part {"slug":"header","theme":"acm","tagName":"header"} /-->

<!-- wp:acm/main-wrapper -->
<!-- wp:acm/banner /-->

<!-- wp:acm/breadcrumbs /-->

<!-- wp:acm/row-wrapper {"className":"row"} -->
<div id="maincontent" class="wp-block-acm-row-wrapper row">
  <!-- wp:acm/query-loop /-->

  <!-- wp:template-part {"slug":"side-bar","theme":"acm"} /-->
</div>
<!-- /wp:acm/row-wrapper -->
<!-- /wp:acm/main-wrapper -->

<!-- wp:template-part {"slug":"footer","theme":"acm","tagName":"footer"} /-->
